<div id="IndexWrapperContent"><p>Babydoll Hair provides hair and makeup services for the everyday look, special events and editorial photo shoots. Sabrina Miller specializes in scene-stealing hair colors and highlights, to cutting-edge hair cuts and artful updo’s/styles for special occasions.</p>

<p>She is committed to making each client happy while educating them in the newest and hottest styles in fashion, hair and makeup. Sabrina believes there are no beauty secrets, only tricks of the trade that should be shared so you can maintain that fabulous look all the time.</p>

<p>Call 480.461.3333 to book appointment and be one step closer to fabulous!</p>

<p>For Editorial, Weddings and more, please see services.</p>
</div>

<div id="IndexWrapperImages">
	<%= image_tag("homepage-img-ani.jpg", :alt => "homepage") %>
	
</div>